// variables background:
$black: #2c2c2c;
$gray: #5e5e5e;
$red: #de0f0f;
$white: #ede2e2;
$ligthGray: #aaa;

// loading:
$loading: #000000e0;
$red: #ff0000;
$blue: #0015ff;

// color btn:
$search: #ff6363;
$reset: #ffbb00;


// shodow:
$shodow: #000;
$alpha: .5;

// variables color text:
$text: #ede2e2;
$text2: #5e5e5e;
$text3: #de0f0f;
$text4: #2c2c2c;

